<div class="row valign">
	<div class="col s8 offset-s2">
		<div class="card horizontal grey darken-3">
			<div class="card-image hide-on-small-only" id="logo-wrapper">
				<img id="mtg-logo" src="/images/mtgLogo.png">
			</div>
			<div class="card-content white-text">
				<p>This is a web app you can use to make FREE Magic: The Gathering decks.  Once you figure out the cards you want, add them in your cards menu. Next, make a new deck and put whatever cards you want into your deck!</p>
				<br>
				<div class="divider">
				</div>
				<br>
				<p>Click "Create Account" above or, if you already have an account, click "Log In"</p>
			</div>
		</div>
	</div>
</div>
