 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .navroute {
  	text-align: center;
  }

 #logo-wrapper {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding: 10px;
 }

 .footer-copyright {
 	text-align: center;
 }

 footer {
 	border-radius: 100% 100% 0 0;
 }

 #mtg-logo {
 	width: 1000px;
 	height: 200px;
 }