body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4  {
  width: 70%;
  max-width: 200px;
}

.mtg-card-paragraph {
  width: 70%;
  max-width: 200px;
}

.navroute {
  text-align: center;
}

#logo-wrapper {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding: 10px;
}

.footer-copyright {
 	text-align: center;
}

footer {
 	border-radius: 100% 100% 0 0;
}

#mtg-logo {
 	width: 1000px;
 	height: 200px;
}

.deck-container {
  background: url("/images/cardBack.jpg");
  background-size: cover;
  background-size: contain;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.card-quantity {
  max-width: 75px;
}

.deckname:hover {
  background-color: black;
}

.quantity {
  max-width: 100px;
}


