<main>
	<!-- HEADER -->
	<div id="header-wrap" class="row valign-wrapper">
		<div class="col s4 m5 l5 pull-s1">
			<h1><a href="/users/{{user.id}}" class="black-text"><i class="material-icons hide-on-small-only">settings</i>{{user.userName}}</a></h1>
		</div>
		<div class="col s4 pull-s1 push-m1 push-l1">
			<form action="/sessions?_method=DELETE" method="POST">
				<input type="submit" value="Log Out" class="btn grey darken-3">
			</form>
		</div>
	<!-- SUB-HEADER -->
	</div>
	<div class="row valign-wrapper black">
		<div class="col s12">
			<h3 class="white-text">Add A Card To Your Collection</h3>
		</div>
	</div>
	<div class="row">
	<!-- DESCRIPTION -->
		<div class="col s12">
			<p>Type a card name into the field below and then click "Find Card". Make sure to type the name exactly as it appears on the card.</p>
		</div>	
	</div>
	<!-- SEARCH FORM -->
	<div class="row">
		<form action="/{{user.id}}/cards/new" method="POST">
			<div class="input-field">
				<i class="material-icons prefix">search</i>
				<label for="name">Card Name: </label>
				<input type="text" name="name" required>
			</div>
			<div>
				<input type="submit" value="Find Card" class="btn grey darken-3">
			</div>
		</form>		
	</div>
</main>
