<h1>Add A Card To Your Collection</h1>
<p>Type A Card Name In The Field To Add It To Your Collection</p>
<br>
<form action="/{{user}}/cards/new" method="POST">
	<div>
		<label for="name">Card Name: </label>
		<input type="text" name="name">
	</div>
	<div>
		<input type="submit" value="Find Card">
	</div>
</form>