<h1>Add a card</h1>
<br>
	{{#each cards}}
		<form action="/{{../user}}/decks/{{../deck}}/edit/addcard/{{this.id}}?_method=PATCH" method="POST">
			<input type="submit" value="{{this.name}}">
		</form>
	{{/each}}
