<main>
	<div id="header-wrap" class="row valign-wrapper">
		<div class="col s4 m5 l5 pull-s1">
			<h1><a href="/users/{{user.id}}" class="black-text"><i class="material-icons hide-on-small-only">settings</i>{{user.userName}}</a></h1>
		</div>
		<div class="col s4 pull-s1 push-m1 push-l1">
			<form action="/sessions?_method=DELETE" method="POST">
				<input type="submit" value="Log Out" class="btn grey darken-3">
			</form>
		</div>
	</div>
	<div class="row valign-wrapper black">
		<div class="col s12">
			<h2 class="white-text">New Deck</h2>
		</div>
	</div>
	<div class="row">
		<form action="/{{user.id}}/decks" method="POST" class="col s12">
			<div class="row">
				<div class="col s12 input-field">
					<i class="material-icons prefix hide-on-small-only">recent_actors</i>
					<label for="name">Name: </label>
					<input type="text" name="name" class="grey-text text-darken-3 validate" data-length="12" required>
				</div>
				<div class="col s12 input-field">
					<i class="material-icons prefix hide-on-small-only">toc</i>
					<label for="format">Format: </label>
					<input type="text" name="format" class="grey-text text-darken-3 validate" data-length="12" required>
				</div>
				<div>
					<input type="submit" value="Create Deck" class="btn grey darken-3">
				</div>
			</div>
		</form>
	</div>
</main>
























