<main>

<div id="battlefield-tab">
	<div class="row" id="battlefield">
		
	</div>

	<div class="divider" style="margin-bottom: 10px;">
	</div>

	<div class="row" id="lands">

	</div>
</div>

<div id="graveyard-tab">		
	<div class="row" id="graveyard">
		
	</div>
</div>

<div id="exile-tab">
	<div class="row" id="exile">
		
	</div>	
</div>

<div id="library-tab">	
</div>


</main>
<footer id="pt-footer" class="teal lighten-1 page-footer">
	<div class="container">
		<div class="row">
			<a href="#pt-hand-modal" class="waves-effect waves-light btn-flat btn grey darken-3 white-text col s3">Hand</a>
			<a href="#" class="waves-effect waves-light btn-flat btn grey darken-3 white-text col s3 offset-s1" id="draw-card">Draw</a>
			<div class="fixed-action-btn click-to-toggle teal lighten-1" id="library-button">
				<a class="waves-effect waves-light  white-text btn-flat btn disabled">Library <span id="library-total"></span></a>
				<ul>
					<li><a class="waves-effect waves-light btn-flat grey darken-3 white-text" id="scry-button" href="#">Scry {x}</a></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" id="search-button" href="#">Search</a></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" href="#" id="shuffle-button">Shuffle</a></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" id="draw-x-button" href="#">Draw {x}</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>



<!--***********************MODALS**************************-->

<div id="pt-hand-modal" class="modal bottom-sheet">
	<div class="modal-content row" id="hand">
				
	</div>	
</div>






<div id="pt-single-card-hand" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-hand-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close" id="hand-to-graveyard" data-index="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close" id="hand-to-exile" data-index="">To Exile</a>
		<a href="#" class="btn modal-action modal-close" id="hand-to-battlefield" data-index="">To Battlefield</a>
		<a href="#" class="btn modal-action modal-close" id="hand-to-library" data-index="">To Library</a>	
	</div>
</div>

<div id="pt-single-card-battlefield" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-battlefield-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-graveyard" data-index="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-exile" data-index="">To Exile</a>
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-hand" data-index="">To Hand</a>
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-library" data-index="">To Library</a>	
	</div>
</div>

<div id="pt-single-card-lands" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-lands-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close" id="lands-to-graveyard" data-index="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close" id="lands-to-exile" data-index="">To Exile</a>
		<a href="#" class="btn modal-action modal-close" id="lands-to-hand" data-index="">To Hand</a>
		<a href="#" class="btn modal-action modal-close" id="lands-to-library" data-index="">To Library</a>	
	</div>
</div>