<main  class="row">


<div class="row" id="battlefield">		
</div>

<div class="row" id="lands">		
</div>

<div class="row" id="graveyard">		
</div>

<div class="row" id="exile">	
</div>

<div class="row" id="library">	
</div>

<div class="row" id="hand">
</div>

</main>




<!--***********************MODALS**************************-->
<div id="pt-single-card-hand" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-hand-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close" id="hand-to-graveyard" data-index="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close" id="hand-to-exile" data-index="">To Exile</a>
		<a href="#" class="btn modal-action modal-close" id="hand-to-battlefield" data-index="">To Battlefield</a>
		<a href="#" class="btn modal-action modal-close" id="hand-to-library" data-index="">To Library</a>	
	</div>
</div>

<div id="pt-single-card-battlefield" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-battlefield-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-graveyard" data-index="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-exile" data-index="">To Exile</a>
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-hand" data-index="">To Hand</a>
		<a href="#" class="btn modal-action modal-close" id="battlefield-to-library" data-index="">To Library</a>	
	</div>
</div>

<div id="pt-single-card-lands" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-lands-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close" id="lands-to-graveyard" data-index="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close" id="lands-to-exile" data-index="">To Exile</a>
		<a href="#" class="btn modal-action modal-close" id="lands-to-hand" data-index="">To Hand</a>
		<a href="#" class="btn modal-action modal-close" id="lands-to-library" data-index="">To Library</a>	
	</div>
</div>