<main>
	</h1><a class="btn" href="#!" id="start-playtest" data-user={{user}} data-deck={{deck}}>Start</a></h1>
	</h1><a class="btn" href="#!" id="draw-card">Draw</a></h1>
	<div class="row" id="battlefield">
		
	</div>
	<div class="row" id="lands">
		
	</div>
	<div class="row" id="graveyard">
		
	</div>
	<div class="row" id="exile">
		
	</div>
	<div class="row" id="library">
		
	</div>
	<div class="row" id="hand">
		
	</div>
</main>