<main>

<!-- BATTLEFIELD -->
<div id="battlefield-tab">
	<div class="row" id="battlefield">
		
	</div>

	<div class="divider" style="margin-bottom: 10px;">
	</div>

	<div class="row" id="lands">

	</div>
</div>

<!-- GRAVEYARD -->
<div id="graveyard-tab">		
	<div class="row" id="graveyard">
		
	</div>
</div>

<!-- EXILE -->
<div id="exile-tab">
	<div class="row" id="exile">
		
	</div>	
</div>


</main>

<!-- FOOTER -->
<footer id="pt-footer" class="teal lighten-1 page-footer col s12">
	<div class="container">
		<div class="row">
			<a href="#pt-hand-modal" class="waves-effect waves-light btn-flat btn grey darken-3 white-text col s3">Hand <span id="hand-total">(0)</span></a>
			<a href="#" class="waves-effect waves-light btn-flat btn grey darken-3 white-text col s3 offset-s1" id="draw-card">Draw</a>
			<div class="fixed-action-btn click-to-toggle" id="library-button">
			<!-- CHANGE "BUTTON" TO "A" WHEN READY TO IMPLEMENT -->
				<a class="waves-effect waves-light white-text btn-flat btn  teal lighten-1" id="library-button-inner">Library <span id="library-total">(0)</span></a>
				<ul>
					<li><a class="waves-effect waves-light btn-flat grey darken-3 white-text modal-trigger" id="scry-button" href="#pt-scry-modal">Scry #</a><form class="col s4 offset-s4 teal lighten-3"><input type="number" value="0" min="0" class="validate" id="scry-amount"><form></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" id="search-button disabled" href="#">Search</a></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" href="#" id="shuffle-button">Shuffle</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>



<!--***********************MODALS**************************-->

<!-- HAND MODAL -->
<div id="pt-hand-modal" class="modal bottom-sheet">
	<div class="modal-content row" id="hand">
				
	</div>	
</div>

<!-- SCRY MODAL -->
<div id="pt-scry-modal" class="modal">
	<div class="modal-content row" id="scry">
		
	</div>
</div>

<!--SINGLE CARD MODAL-->
<div id="pt-single-card-modal" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-battlefield" data-index="" data-from="">To Battlefield</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-graveyard" data-index="" data-from="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-exile" data-index="" data-from="">To Exile</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-hand" data-index="" data-from="">To Hand</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-library" data-index="" data-from="">To Library Top</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-librarybottom" data-index="" data-from="">To Library Bottom</a>
	</div>
</div>