<main>

<!-- BATTLEFIELD -->
<div id="battlefield-tab">
	<div class="row" id="battlefield">
		
	</div>

	<div id="battlefield-divider" class="row" style="margin-bottom: 10px;">
		<a href="#" class="btn col s4 grey darken-3" id="untap-button">UNTAP</a>
		<a href="#" class="btn col s4 offset-s4 grey darken-3 dropdown-button" id="add-button" data-activates="add-button-dropdown">ADD</a>
	</div>

	<div class="row" id="lands">

	</div>
	<div class="pt-bottom-spacer">
		
	</div>
</div>

<!-- GRAVEYARD -->
<div id="graveyard-tab">		
	<div class="row" id="graveyard">
		
	</div>
	<div class="pt-bottom-spacer">
		
	</div>
</div>

<!-- EXILE -->
<div id="exile-tab">
	<div class="row" id="exile">
		
	</div>
	<div class="pt-bottom-spacer">
		
	</div>	
</div>


</main>

<!-- FOOTER -->
<footer id="pt-footer" class="teal lighten-1 page-footer col s12 z-depth-3">
	<div class="container">
		<div class="row">
			<a href="#pt-hand-modal" class="waves-effect waves-light z-depth-3 btn grey darken-3 white-text col s5">Hand <span id="hand-total">(0)</span></a>
			<a href="#" class="waves-effect waves-light btn grey darken-3 white-text col s5 offset-s1 z-depth-3" id="draw-card">Draw</a>
			<div class="fixed-action-btn click-to-toggle" id="library-button">
				<a class="waves-effect waves-light white-text btn z-depth-3 grey darken-3" id="library-button-inner">Library <span id="library-total">(0)</span></a>
				<ul>
					<li><a class="waves-effect waves-light btn-flat grey darken-3 white-text modal-trigger" id="scry-button" href="#pt-scry-modal">Scry #</a><form class="col s4 offset-s4 teal lighten-3"><input type="number" value="0" min="1" class="validate" id="scry-amount"><form></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" id="search-button disabled" href="#pt-library-modal">Search</a></li>
					<li><a class="waves-effect waves-light btn-flat btn grey darken-3 white-text" href="#" id="shuffle-button">Shuffle</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<ul id="add-button-dropdown" class="dropdown-content">
  <li><a class="pt-dropdown-button" href="#pt-token-modal">Token</a></li>
  <li><a class="pt-dropdown-button" href="#">Counter</a></li>
</ul>

<!--*********************** MODALS **************************-->

<!-- TOKEN MODAL -->
<div id="pt-token-modal" class="modal">
	<div class="modal-content row">
		<form class="col 12">
			<div class="input-field">
				<label for="name">Name:</label>
				<input type="text" id="name" data-length="5">
			</div>
			<div class="input-field">
				<label for="power">Power:</label>
				<input type="number" id="power" min="0" max="99">
			</div>
			<div class="input-field">
				<label for="toughness">Toughness:</label>
				<input type="number" id="toughness" min="0" max="99">
			</div>
			<div>
				<input id="token-submit" type="submit" value="Create" class="btn">
			</div>
		</form>
	</div>	
</div>

<!-- HAND MODAL -->
<div id="pt-hand-modal" class="modal bottom-sheet">
	<div class="modal-content row" id="hand">
				
	</div>	
</div>

<!-- SCRY MODAL -->
<div id="pt-scry-modal" class="modal">
	<div class="modal-content row" id="scry">
		
	</div>
</div>

<!-- LIBRARY MODAL -->
<div id="pt-library-modal" class="modal">
	<div class="modal-content row" id="library">
		
	</div>
</div>

<!--SINGLE CARD MODAL-->
<div id="pt-single-card-modal" class="modal">
	<div class="modal-content">
		<img id="pt-single-card-image">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-battlefield" data-index="" data-from="">To Battlefield</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-graveyard" data-index="" data-from="">To Graveyard</a>	
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-exile" data-index="" data-from="">To Exile</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-hand" data-index="" data-from="">To Hand</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-library" data-index="" data-from="">To Library Top</a>
		<a href="#" class="btn modal-action modal-close button-for-modal" id="to-librarybottom" data-index="" data-from="">To Library Bottom</a>
	</div>
</div>