<main class="valign-wrapper">
	<div class="row">
		<form action="/sessions/login" method="POST" class="col s10 offset-s2">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix hide-on-small-only">email</i>
					<label for="email">Email: </label>
					<input type="text" name="email" class="grey-text text-darken-3">
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix hide-on-small-only">lock</i>
					<label for="password">Password: </label>
					<input type="text" name="password" class="grey-text text-darken-3">
				</div>
				<div>
					<input type="submit" value="Log In" class="btn grey darken-3">
				</div>
			</div>
		</form>
	</div>
</main>
	


